/*
 * Colours.
 *
 * Open Source Software published under the Apache Licence, Version 2.0.
 */

.root {
    -colour-principal: -fx-base;

    -colour-breadcrumb-weak: derive(-colour-principal, -30%);
    -colour-breadcrumb-strong: derive(-colour-principal, 70%);
}

.masker {
    -fx-background-color: black;
}

/*
 * Draw wizard breadcrumbs.
 */

.drawWizardPane .breadcrumbs .breadcrumbDone {
    -fx-background-color: -colour-breadcrumb-strong;
    -fx-text-fill: -colour-breadcrumb-weak;
}
.drawWizardPane .breadcrumbs .breadcrumbPending {
    -fx-background-color: -colour-breadcrumb-weak;
    -fx-text-fill: -colour-breadcrumb-strong;
    -fx-border-color: -colour-breadcrumb-strong;
}
.drawWizardPane .breadcrumbs .breadcrumbJoinDone {
    -fx-background-color: -colour-breadcrumb-strong;
}
.drawWizardPane .breadcrumbs .breadcrumbJoinPending {
    -fx-background-color: -colour-breadcrumb-weak;
    -fx-border-color: -colour-breadcrumb-strong;
}
