/*
 * Styles for the draw wizard.
 *
 * Open Source Software published under the Apache Licence, Version 2.0.
 */

.drawWizardPane .title {
    -fx-padding: 0 0 10 0;
}
.drawWizardPane .title * {
    -fx-font-size: 24;
}
.buttonDraw1RunDraw .fontAwesomeIcon *, .buttonDraw2SaveResults .fontAwesomeIcon *, .buttonDraw3Open .fontAwesomeIcon * {
    -fx-font-size: 24;
}
.drawWizardPane .title .prompt {
    -fx-font-weight: bold;
}
.drawWizardPane .message {
    -fx-padding: 10 0 0 0;
}
.drawWizardPane .message * {
    -fx-font-size: 18;
}
.drawWizardPane .actionLine {
    -fx-alignment: center-left;
}
.drawWizardPane .actionLine ProgressBar {
    -fx-padding: 0 0 0 10;
}
