/*
 * Top-level style sheet for Santulator.
 *
 * Open Source Software published under the Apache Licence, Version 2.0.
 */

@import "session.css"
@import "participant-list.css"
@import "about.css"
@import "draw-wizard.css"
@import "colours.css"

.root * {
    -fx-font-family: "Helvetica";
    -fx-font-size: 16;
}
.fontAwesomeIcon * {
    -fx-font-family: "FontAwesome";
}
.buttonNew Glyph *, .buttonOpen Glyph *, .buttonSave Glyph *, .buttonRunDraw Glyph * {
    -fx-font-size: 24;
}
Button, StatusBar, MenuBar {
    -fx-font-weight: bold;
}
.masker {
    -fx-opacity: 0.3;
}
