/*
 * Styles for the list of participants in the draw.
 *
 * Open Source Software published under the Apache Licence, Version 2.0.
 */

.session .participantsPane .buttonParticipantAction Glyph * {
    -fx-font-size: 20;
}
.session .participantsPane .buttonParticipantAction {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.session .participantsPane HBox {
    -fx-spacing: 5;
    -fx-alignment: center-left;
}
